@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(78.15deg, #ced873 16.62%, #c477b3 85.61%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0px;
}

.cabecalgo-imagem {
    height: 72px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #d0ff61;
    font-weight: 400;
    font-size: 18px;
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid #d0ff61;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    color: #aa27b6; 
    font-weight: 400;
    font-size: 64px;
}

.conteudo-secundario {
    font-family: 'Sarala', sans-serif;
    color: black;
    font-weight: 400;
    font-size: 24px;
}

.conteudo-principal-escrito-botao {
    background-color: #e4c3e4;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgb(0, 0, 0.25);   
    border-radius: 24px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: black;
}
.conteudo-principal-escrito-botao:hover {
    background-color: rgb(236, 214, 196, 0.53);
}
    
.conteudo-principal-imagem {
   height: 400px;
}

.conteudo-secundario {
    display: flex;
   flex-direction: column;
   align-items: center;
   gap: 24px;
   margin-top: 48px;
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid #d0ff61;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: black;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: black;
}

.rodape {
    padding: 5px;
    border-top: 0.4px solid #d0ff61;
}

.rodape-imagem {
    height: 200px;
    display: block;
    margin: 0 auto;
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: black;
}